<% include ./partials/header %>

<div id="main">
	<div id="people">
	</div>

	<div id="chat">
		<div id="messages"></div>

		<div id="bottom"> 
			<div>
				<p id="typing"></p>
			</div>

			<form action="">
				<input id="message" type="text" name="" autocomplete="off" placeholder="Enter text, press enter to submit">
			</form>
		</div>
	</div>
</div>

<% include ./partials/footer %>