<% include ./partials/header %>

<div id="main">
	<!-- MODAL -->
	<div class="modal">
		<div class="content">
		</div>
	</div>

	<div id="people">
	</div>

	<div id="chat">
		<div id="messages"></div>

		<div id="bottom"> 
			<div>
				<p id="typing"></p>
			</div>

			<div id="inputs">
				<form>
					<input type="file" id="upload_input"/>
					<label for="upload_input">
						<i class="fas fa-paperclip fa-2x"></i>
					</label>
				</form>

				<form action="" id="message-section">
					<input id="message" type="text" name="" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Enter text, press enter to submit">
				</form>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>