<% include ./partials/header %>

<div id="chat">
	<div id="messages">
	</div>

	<div id="typing">
		<p id="typing"></p>
	</div>

	<form action="">
		<input id="message" type="text" name="" autocomplete="off" placeholder="Enter text">
		<button>Send</button>
	</form>
</div>

<% include ./partials/footer %>