<% include ./partials/header %>

<h2>Sign up</h2>

<div class="outer">
	<form class="inner" action="/register" method="POST">
		<input class="inputs" type="text" name="username" placeholder="Username">
		<input class="inputs" type="password" name="password" placeholder="Password">
		<input class="inputs" type="text" name="chatname" placeholder="Chat Name">
		<button>Submit</button>
	</form>
</div>


<% include ./partials/footer %>