*{
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
	min-height: 100%;
}

#bottom{
	width: 100%;
	bottom: 0;
}

.parent-left{
	width: 600px;
	padding: 10px;
	padding-right: 0px;
	display: block;
	position: relative;
	clear: both;
	float: left;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.6);
}

h2{
	text-align: center;
}

.outer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	height: 500px;
	width: 100%;
}

.inner{
	width: 30%;
	background-color: pink;
	padding: 20px;
}

.content{
	display: flex;
	margin-top: 200px;
	max-height: 850px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 8px;
	max-width: 1400px;
	margin: auto;
}

.fa-sign-out-alt{
	float: left;
	padding-right: 5px;
}

a:link{
	text-decoration: none;
	color: black;
}

.img-modal-size{
	vertical-align: middle;	
	max-width: 1400px;
	max-height: 850px;
	object-fit: contain;
	width: 100%;
}

#messages img:hover{
	opacity: 0.9;
}

.close{
	object-fit: contain;
	margin-left: auto;
	color: #ffd2d1;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color: #ffa09e;
	text-decoration: none;
	cursor: pointer;
}

.parent-right{
	width: 600px;
	padding: 10px;
	padding-right: 0px;
	display: block;
	position: relative;
	clear: both;
	float: right;
}

.speech-bubble-right{
	width: fit-content;
	background: #ffd2d1;
	border-radius: 1.2em;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.speech-bubble-right-stack{
	width: fit-content;
	background: #ffd2d1;
	border-radius: 1.2em;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 15px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-left-color: #ffd2d1;
	border-right: 0;
	border-bottom: 0;
	margin-top: -8px;
	margin-right: -8px;
}

.speech-bubble-left {
	width: fit-content;
	background: #e4cbd1;
	border-radius: 1.2em;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.speech-bubble-left-stack{
	width: fit-content;
	background: #e4cbd1;
	border-radius: 1.2em;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 15px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: #e4cbd1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.right{
	display: inline-block;
	position: relative;
	clear: both;
	float: right;
}

.left{
	display: inline-block;
	position: relative;
	clear: both;
	float: left;
}

.name-left{
	display: block;
	margin-left: 95px;
}

.right-display{
	display: inline-block;
	float: right;
	max-height: 400px;
	max-width: 400px;
	position: relative;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 25px;
}

.right-display-stack{
	display: block;
	float: right;
	clear: both;
	max-height: 400px;
	max-width: 400px;
	position: relative;
	margin: 5px;
	margin-right: 87px;
}

.left-display{
	display: inline-block;
	max-height: 400px;
	max-width: 400px;
	position: relative;
	margin-bottom: 5px;
	margin-left: 25px;
}

.left-display-stack{
	display: block;
	max-height: 400px;
	max-width: 400px;
	position: relative;
	margin: 5px;
	margin-left: 87px;
}

.inputs{
	display: block;
}

.color{
	background-color: #e5dfe0;
	padding: 20px;
	padding-right: 30px;
}

.message{
	font-size: 18px;
}

#upload_input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label{
	width: 20px;
}

#inputs{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#message-section{
	flex: 1;
}

#message{
	width: 100%;
	background-color: #fff;
	border-color: #e0e0e0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	border-width: 1px;
	border-style: solid;
	color: #474e57;
	font-size: 16px;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: -30px;
	padding-right: 20px;
}

#message:hover{
	border-color: #e0e0e0;
}

#message:focus{
	border-color: #adadad;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	outline: none;
}

.fa-paperclip{
	padding: 5px;
	color: grey;
}

.bottom-right{
	position: absolute;
	bottom: 0;
	right: 90px;
	font-size: 10px;
}

.bottom-left{
	position: absolute;
	bottom: 0;
	left: 100px;
	font-size: 10px;
}

#main{
	display: flex;
	height: 100%;
	width: 100%;
}

#people{
	height: 100%;
	width: 30%;
}

#chat{
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	background-color: #fffcfd;
	flex-grow: 1
}

#typing{
	margin-left: 20px;
	height: 20px;
}

#messages{
	padding: 20px;
	height: 100%;
	overflow-y: scroll;
}